<div class="container">
  <button class="close-btn" (click)="closeBotttomSheet()">
    <mat-icon>close</mat-icon>
  </button>
  <ul class="contents" (click)="closeBotttomSheet()">
    <li class="contents__item">
      <a routerLink="/terms/termsService"
        ><mat-icon class="contents__icon material-icons-outlined"
          >article</mat-icon
        >利用規約</a
      >
    </li>
    <li class="contents__item">
      <a routerLink="/terms/privacypolicy"
        ><mat-icon class="contents__icon material-icons-outlined"
          >article</mat-icon
        >プライバシーポリシー</a
      >
    </li>
    <li class="contents__item">
      <a
        href="mailto:diary.for.reader@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        ><mat-icon class="contents__icon">mail_outline</mat-icon>お問い合わせ</a
      >
    </li>
    <li class="contents__item">
      <a
        href="https://twitter.com/yuki_kouno_jp"
        target="_blank"
        rel="noopener noreferrer"
        ><mat-icon class="contents__icon">perm_identity</mat-icon>開発者</a
      >
    </li>
    <li class="contents__item">
      <a (click)="logout()"
        ><mat-icon class="contents__icon">exit_to_app</mat-icon>ログアウト</a
      >
    </li>
  </ul>
  <mat-divider></mat-divider>
  <button class="open-dialog-btn" (click)="openDialog()">
    アカウント管理<span class="open-dialog-btn__icon"
      ><mat-icon></mat-icon
    ></span>
  </button>
</div>
