@import 'mixins';
@import 'material-custom';

header {
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  text-align: center;
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: solid 2px transparent;
  background-clip: padding-box;
  @include tab-header {
    height: 60px;
  }
}
.logo {
  position: absolute;
  top: 4px;
  left: 16px;
  &__sp {
    height: 40px;
    @include tab-header {
      display: none;
    }
  }
  &__tab {
    height: 52px;
    @include sp-header {
      display: none;
    }
  }
}
.title {
  line-height: 48px;
  @include tab {
    line-height: 60px;
  }
}
.container {
  padding: 50px 16px;
  @include tab {
    padding: 70px 160px;
  }
}
.description {
  font-size: 12px;
  color: #909090;
  @include tab-header {
    text-align: right;
  }
}
.grid {
  padding-top: 24px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  @include tab {
    padding-top: 64px;
  }
  &__contents {
    text-align: center;
  }
}
