<div class="privacy">
  <button class="close-btn" (click)="close()">
    <mat-icon class="close-btn__icon">arrow_back</mat-icon>
  </button>
  <h1 class="title">プライバシーポリシー</h1>
  <div class="inner">
    <p>
      本サービスにおける，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
    </p>

    <h3>個人情報</h3>
    <p>
      「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
    </p>

    <h3>個人情報の収集方法</h3>
    <p>
      当方は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレスなどの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を当方の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。
    </p>

    <h3>個人情報を収集・利用する目的</h3>
    <p>当方が個人情報を収集・利用する目的は，以下のとおりです。</p>
    <ol>
      <li>本サービスの提供・運営のため</li>
      <li>
        ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）
      </li>
      <li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
      <li>
        利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため
      </li>
      <li>
        ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため
      </li>
    </ol>

    <h3>利用目的の変更</h3>
    <ol>
      <li>
        当方は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。
      </li>
      <li>
        利用目的の変更を行った場合には，変更後の目的について，当方所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。
      </li>
    </ol>

    <h3>個人情報の第三者提供</h3>
    <ol>
      <li>
        当方は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。
        <ol>
          <li>
            人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき
          </li>
          <li>
            公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき
          </li>
          <li>
            国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
          </li>
          <li>
            予め次の事項を告知あるいは公表し，かつ当方が個人情報保護委員会に届出をしたとき
            <ol>
              <li>利用目的に第三者への提供を含むこと</li>
              <li>第三者に提供されるデータの項目</li>
              <li>第三者への提供の手段または方法</li>
              <li>本人の求めに応じて個人情報の第三者への提供を停止すること</li>
              <li>本人の求めを受け付ける方法</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。
        <ol>
          <li>
            当方が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
          </li>
          <li>
            合併その他の事由による事業の承継に伴って個人情報が提供される場合
          </li>
          <li>
            個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合
          </li>
        </ol>
      </li>
    </ol>

    <h3>広告について</h3>
    <p>
      当方は，Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである，Amazonアソシエイト・プログラムの参加者です。
    </p>

    <h3>免責事項</h3>
    <p>
      当方からのリンクやバナーなどで移動したサイトで提供される情報，サービス等について一切の責任を負いません。
      また当方のコンテンツ・情報について，できる限り正確な情報を提供するように努めておりますが，正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
      当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
    </p>

    <h3>プライバシーポリシーの変更</h3>
    <ol>
      <li>
        本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
      </li>
      <li>
        当方が別途定める場合を除いて，変更後のプライバシーポリシーは，本サービスに掲載したときから効力を生じるものとします。
      </li>
    </ol>

    <h3>お問い合わせ</h3>
    <p>本ポリシーに関するお問い合わせは，下記までお願いいたします。</p>
    <a
      href="mailto:diary.for.reader@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      >Eメール： diary.for.reader@gmail.com</a
    >

    <p>以上</p>
  </div>
</div>
