@import 'mixins';
* {
  color: rgb(75, 75, 75);
}
.privacy {
  padding: 16px;
  @include tab {
    padding: 32px 120px;
  }
}
.title {
  text-align: center;
  margin-bottom: 16px;
}
.inner {
  padding: 0 16px;
}
li {
  list-style: inherit !important;
  @include sp {
    margin: 10px;
  }
}
.close-btn {
  &__icon {
    font-size: 32px;
  }
}
