@import 'mixins';
.container {
  padding: 0 24px;
  @include tab {
    padding: 0 120px;
  }
}
.grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.book {
  position: relative;
  text-align: center;
  margin: 0 auto;
  &__figure {
    cursor: pointer;
    position: relative;
    width: 90px;
    margin-bottom: 8px;
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 4px;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 2%,
        rgba(255, 255, 255, 0.3) 5%,
        rgba(0, 0, 0, 0) 50%
      );
    }
    &:hover {
      transition: 0.3s;
      box-shadow: 0 20px 20px -5px rgba(128, 128, 128, 0.712);
    }
  }
  &__img {
    width: 90px;
    object-fit: cover;
    box-shadow: -2px 5px 10px rgba(128, 128, 128, 0.514);
  }
}
.info {
  width: 90px;
  text-align: center;
  &__title {
    color: #30303080;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__authors {
    color: #303030bd;
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
.remove-btn {
  position: absolute;
  z-index: 20;
  top: 4px;
  right: 4px;
  width: 40px;
  height: 40px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(218, 218, 218, 0.3);
  border-bottom: solid 2px transparent;
  background-clip: padding-box;
  border-radius: 50%;
  &__icon {
    margin-top: 2px;
    color: #606060;
  }
}
.blank-heading {
  font-size: 16px;
  color: #505050;
  text-align: center;
  padding: 16px;
  margin-top: 60px;
  @include tab {
    font-size: 20px;
    margin-top: 120px;
  }
}
.blank-sub {
  font-size: 14px;
  color: #505050;
  text-align: center;
  @include tab {
    font-size: 16px;
  }
}
