@import 'variables';
.settings {
  opacity: 0.5;
  position: relative;
  display: flex;
  align-items: center;
  height: 37px;
  &__icon {
    position: relative;
    top: -5px;
    font-size: 28px;
    color: $sub-icon;
  }
}
