@import 'mixins';
@import 'material-custom';

mat-form-field {
  width: 100%;
  color: #505050;
}

.contents {
  padding-top: 16px;
  overflow: hidden;
  @include tab {
    margin: 0 5%;
  }
}

.reviews {
  &__body {
    color: #505050;
  }
  &__answer {
    font-size: 16px;
    line-height: 1.4;
  }
}
.revieweds {
  border-radius: 8px;
  padding: 4px 0 16px;
  color: #505050;
  &__header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    // align-items: center;
    margin-bottom: 8px;
  }
  &__icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding-right: 3px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: mat-color($primary);
    border-radius: 50%;
  }
  &__date {
    font-size: 12px;
    color: #808080;
    align-items: center;
    @include tab {
      font-size: 14px;
    }
  }
  &__question {
    white-space: pre-line;
    word-break: break-all;
    font-size: 12px;
    font-weight: 600;
    @include tab {
      font-size: 14px;
    }
  }
  &__edit-btn {
    display: grid;
    align-items: center;
    height: 30px;
    &:hover {
      transition: 0.3s;
      color: mat-color($primary);
    }
  }
  &__answer {
    padding: 8px;
    font-size: 16px;
    white-space: pre-line;
    overflow-wrap: break-word;
    @include tab {
      margin: 0 32px;
    }
  }
}

.reviews-btns {
  text-align: right;
  &__cancel {
    font-size: 12px;
    color: rgb(151, 151, 151);
    background-color: rgb(241, 241, 241);
    margin-right: 16px;
  }
  &__save {
    font-size: 12px;
    color: white;
  }
}
@include tab {
  .revieweds__edit-btn {
    display: none;
  }
  .contents:hover {
    .revieweds__edit-btn {
      display: block;
    }
  }
}
