@import 'mixins';
@import 'material-custom';

mat-form-field {
  width: 100%;
  color: #505050;
}

.container {
  padding: 32px 16px 0;
  overflow: hidden;
  @include tab {
    margin: 0 5%;
  }
}

.reviews {
  &__body {
    color: #505050;
  }
  &__answer {
    font-size: 16px;
    line-height: 1.4;
  }
}
.revieweds {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 4px 16px 16px;
  color: #505050;
  &__header {
    display: grid;
    grid-template-columns: 70px 1fr 40px;
    margin-bottom: 8px;
  }
  &__date {
    display: grid;
    font-size: 12px;
    color: #505050;
    align-items: center;
  }
  &__question {
    display: grid;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
  }
  &__edit-button {
    display: grid;
    align-items: center;
    &:hover {
      transition: 0.3s;
      color: mat-color($primary);
    }
  }
  &__answer {
    font-size: 16px;
  }
}

.reviews-btns {
  text-align: right;
  &__cancel {
    font-size: 12px;
    color: rgb(151, 151, 151);
    background-color: rgb(241, 241, 241);
    margin-right: 16px;
  }
  &__save {
    font-size: 12px;
    color: white;
  }
}
