<div class="container">
  <ng-container *ngIf="isEditable; else view">
    <div class="reviews">
      <form>
        <mat-form-field class="reviews__body" floatLabel="always">
          <mat-label>
            {{ review.question }}
          </mat-label>
          <textarea
            matInput
            [formControl]="editForm"
            autofocus
            class="reviews__answer"
            type="text"
            matTextareaAutosize
            >{{ review.answer }}</textarea
          >
        </mat-form-field>
      </form>
      <div class="reviews-btns">
        <button
          class="reviews-btns__cancel wrap-gradient"
          mat-flat-button
          type="button"
          (click)="cancelEdit()"
        >
          キャンセル
        </button>
        <button
          class="reviews-btns__save wrap-gradient"
          mat-flat-button
          type="button"
          color="primary"
          (click)="updataReview()"
          [disabled]="editForm.pristine"
        >
          保存
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #view>
    <div class="revieweds">
      <div class="revieweds__header">
        <p class="revieweds__date">
          {{ review.createdAt.toDate() | date: 'yyyy/M/d' }}
        </p>
        <p class="revieweds__question">{{ review.question }}</p>
        <button
          class="revieweds__edit-button"
          mat-icon-button
          [mat-menu-trigger-for]="reviewEditor"
          type="button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div>
        <p class="revieweds__answer">{{ review.answer }}</p>
      </div>
    </div>
  </ng-template>
</div>
<mat-menu #reviewEditor="matMenu">
  <button mat-menu-item type="button" (click)="isEditMode()">
    <mat-icon>edit</mat-icon>
    <span>編集</span>
  </button>
  <button mat-menu-item type="button" (click)="openDialog()">
    <mat-icon>delete</mat-icon>
    <span>削除</span>
  </button>
</mat-menu>
