<div class="contents">
  <form class="form" [formGroup]="logInForm">
    <mat-form-field>
      <mat-label>メールアドレス</mat-label>
      <input
        formControlName="email"
        matInput
        type="email"
        required
        autocomplete="current-email"
      />
      <mat-error *ngIf="emailControl.hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>パスワード</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        required
        autocomplete="current-password"
      />
      <mat-icon class="password-icon" matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="passwordControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-hint
        class="form__reset"
        align="end"
        type="button"
        (click)="openResetDialog()"
        >パスワードをお忘れですか？</mat-hint
      >
    </mat-form-field>
  </form>
  <button
    class="login-btn login__item"
    [disabled]="logInForm.invalid"
    mat-flat-button
    color="basic"
    (click)="logIn()"
  >
    ログイン
  </button>
</div>
