@import 'mixins';
.container {
  text-align: center;
}
mat-form-field {
  width: 200px;
  @include pc {
    width: 260px;
  }
}
mat-label {
  font-size: 12px;
  color: #909090;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  &__reset {
    text-align: right;
    cursor: pointer;
    font-size: 10px;
    color: #505050;
    opacity: 0.6;
    margin-top: 8px;
    &:hover {
      opacity: 1;
    }
  }
}
.login-btn {
  width: 200px;
  color: #505050;
  background-color: rgba(132, 136, 146, 0.5);
  @include pc {
    width: 260px;
  }
}
