@import 'mixins';
.contents {
  text-align: center;
}
mat-form-field {
  width: 60%;
}
mat-label {
  font-size: 12px;
  color: #909090;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  &__reset {
    text-align: right;
    cursor: pointer;
    font-size: 10px;
    color: #505050;
    opacity: 0.6;
    margin-top: 8px;
    &:hover {
      opacity: 1;
    }
  }
}
.login-btn {
  text-align: center;
  height: 36px;
  padding: 2px 0;
  width: 60%;
  margin: 16px 0 24px;
  font-size: 16px;
  line-height: 1.42857;
  letter-spacing: 0.1em;
  transition-duration: 0.4s;
  border: 1px solid #dadada;
  &--active {
    border: 1px solid #909090;
    &:hover {
      background-color: #6c6c6c;
      border-color: #6c6c6c;
      color: #fff;
    }
  }
  @include sp {
    margin-bottom: 0;
  }
}
.password-icon {
  color: #808080;
  cursor: pointer;
}
