::ng-deep #calendar {
  h1 {
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}
}
