@import 'mixins';
@import 'material-custom';

.book {
  text-align: center;
  &__id {
    width: 40px;
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    color: rgb(194, 201, 201);
    border-radius: 50%;
    background: #ffffff;
    margin-bottom: 16px;
  }
  &__thumb {
    padding: 16px;
    border-radius: 16px;
    background: #ffffff;
    margin-bottom: 16px;
  }
  &__img {
    width: 240px;
    object-fit: cover;
  }
  &__title {
    color: #505050;
    margin-bottom: 4px;
  }
  &__author {
    font-size: 14px;
    color: #707070;
  }
}
