.navigation {
  &__life {
    outline: 0;
    position: relative;
    width: 10px;
    height: 10px;
    border: solid #808080;
    border-width: 3px 0 0 3px;
    &--next {
      position: absolute;
      top: 13px;
      left: 11px;
      transform: rotate(135deg);
    }
    &--prev {
      position: absolute;
      top: 13px;
      right: 11px;
      transform: rotate(-45deg);
    }
  }
}
