@import 'variables';
@import 'material-custom';
@import 'mixins';
.nav {
  height: calc(100vh - 70px);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-end;
  top: 40px;
  bottom: 0;
  left: 0;
  z-index: 100;
  @include sp {
    display: none;
  }
}
.item {
  margin: 0 0 16px 16px;
  &__btn {
    background-color: rgba(214, 214, 214, 0.411);
    &:hover {
      transition: 0.3s;
      box-shadow: 4px 10px 10px #5e5e5e6e,
        inset 6px 6px 10px rgba(255, 255, 255, 0.671),
        inset -3px -1px 10px rgba(126, 126, 126, 0.2);
      .item__icon {
        transition: 0.3s;
        color: mat-color($primary);
      }
    }
  }
  &__icon {
    color: #909090;
  }
  &__tour {
    position: absolute;
    color: #505050;
    border-radius: 30px;
    border: 3px solid $tour-border;
    padding: 16px;
    top: 0;
    left: 75px;
    background-color: rgba(237, 245, 245, 0.98);
    &::before {
      content: '<';
      color: $tour-border;
      font-size: 35px;
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      top: 16px;
      left: -17px;
      z-index: 50;
    }
    &::after {
      content: '<';
      color: rgb(237, 245, 245);
      font-size: 47px;
      font-weight: bolder;
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      top: 15px;
      left: -5px;
      z-index: 50;
    }
  }
}
