@import 'variables';
@import 'material-custom';
@import 'mixins';
.nav {
  height: calc(100vh - 70px);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-end;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 100;
  @include sp {
    display: none;
  }
}
.item {
  margin: 0 0 16px 16px;
  &__btn {
    background-color: rgba(214, 214, 214, 0.411);
    &:hover {
      transition: 0.3s;
      box-shadow: 4px 10px 10px #5e5e5e6e,
        inset 6px 6px 10px rgba(255, 255, 255, 0.671),
        inset -3px -1px 10px rgba(126, 126, 126, 0.2);
      .item__icon {
        transition: 0.3s;
        color: mat-color($primary);
      }
    }
  }
  &__icon {
    color: #909090;
  }
}
