@import 'mixins';

header {
  height: 48px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: solid 2px transparent;
  background-clip: padding-box;
  @include tab-header {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
  }
}
.logo {
  margin-left: 16px;
  text-align: left;
  @include sp-header {
    position: absolute;
    left: 0;
    margin-left: 8px;
  }
  &__sp {
    height: 40px;
    @include tab-header {
      display: none;
    }
  }
  &__tab {
    height: 52px;
    @include sp-header {
      display: none;
    }
  }
}
.page-title {
  font-size: 20px;
  line-height: 48px;
  @include tab-header {
    font-size: 24px;
    line-height: 60px;
  }
}
