<mat-dialog-content>
  <div class="book">
    <figure class="book__figure">
      <img class="book__img" [src]="data.thumbnail" alt="" />
    </figure>
    <div class="info">
      <p class="info__title">
        {{ data.dialogTitle }}
      </p>
      <ng-container *ngFor="let item of data.data">
        <p class="info__question">
          {{ item.question }}
        </p>
        <p class="info__answer">
          {{ item.answer }}
        </p>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div class="buttons">
    <button
      class="buttons__ok wrap-gradiant"
      mat-flat-button
      color="primary"
      [matDialogClose]="true"
    >
      レヴュー
    </button>
    <button
      class="buttons__cancel wrap-gradiant"
      mat-flat-button
      color="basic"
      mat-dialog-close
    >
      キャンセル
    </button>
  </div>
</mat-dialog-actions>
