@import 'mixins';
@import 'material-custom';

.book {
  max-width: 920px;
  outline: none;
  @include tab {
    display: flex;
    align-items: flex-start;
  }
  &__figure {
    position: relative;
    width: 128px;
    margin-bottom: 8px;
    margin: 0 auto;
    @include tab {
      margin: 16px;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 4px;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 2%,
        rgba(255, 255, 255, 0.3) 5%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }
  &__img {
    width: 128px;
    object-fit: cover;
    box-shadow: -2px 5px 10px rgba(128, 128, 128, 0.514);
  }
}
.info {
  margin: 0 auto;
  padding: 8px;
  @include tab {
    padding: 8px 0 8px 24px;
  }
  &__title {
    white-space: pre-line;
    word-break: break-word;
    color: #303030bd;
    font-size: 16px;
    margin-bottom: 16px;
  }
  &__question {
    white-space: pre-line;
    word-break: break-word;
    color: #303030bd;
    font-size: 10px;
    margin-bottom: 4px;
    @include tab {
      font-size: 13px;
    }
  }
  &__answer {
    color: #30303080;
    font-size: 14px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-left: 8px;
    word-break: break-word;
    white-space: pre-line;
    @include tab {
      margin-bottom: 16px;
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  &__ok {
    margin: 0 8px;
    @include sp {
      padding: 0 8px;
    }
    color: white;
  }
  &__cancel {
    color: #505050;
    margin: 0 8px;
    @include sp {
      padding: 0 8px;
    }
  }
}
