@import 'mixins';
* {
  color: rgb(75, 75, 75);
}
li {
  list-style: inherit !important;
  @include sp {
    margin: 10px;
  }
}
.container {
  padding: 16px 30px 70px;
}
.close-btn {
  margin-bottom: 16px;
  &__icon {
    font-size: 32px;
  }
}
