@import 'mixins';
@import 'material-custom';
@import 'variables';

header {
  height: 48px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  text-align: center;
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: solid 2px transparent;
  background-clip: padding-box;
  @include tab-header {
    height: 60px;
  }
}
.logo {
  position: absolute;
  top: 0;
  left: 16px;
  &__sp {
    height: 48px;
    @include tab-header {
      display: none;
    }
  }
  &__tab {
    height: 60px;
    @include sp-header {
      display: none;
    }
  }
}
.page-title {
  line-height: 48px;
  @include tab {
    height: 60px;
  }
}
.header-options {
  position: absolute;
  top: 0;
  right: 16px;
  height: 48px;
  display: flex;
  @include tab {
    height: 60px;
    right: 32px;
  }
  &__search-btn {
    color: #808080;
    &:hover {
      transition: 0.3s;
      color: mat-color($primary);
    }
  }
  &__sort-btn {
    color: #808080;
    margin-left: 16px;
    @include tab {
      margin-left: 24px;
    }
    &:hover {
      transition: 0.3s;
      color: mat-color($primary);
    }
  }
  &__icon {
    font-size: 28px;
  }
}

.order-title {
  padding: 120px 0;
  text-align: center;
}
.books {
  padding: 0 32px;
  @include tab {
    padding: 0 160px;
  }
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  &__item {
    display: flex;
    justify-content: center;
  }
}
.blank {
  padding: 0 16px;
  text-align: center;
  color: #808080;
}
