@import 'mixins';
@import 'material-custom';
@import 'variables';

.header-options {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 16px;
  height: 48px;
  display: flex;
  @include tab {
    height: 60px;
    right: 32px;
  }
  &__search-btn {
    color: #808080;
  }
  &__sort-btn {
    color: #808080;
    margin-left: 16px;
    @include tab {
      margin-left: 24px;
    }
  }
  &__select {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;
    top: 0;
    right: -30px;
    padding: 0;
    margin: 0;
    opacity: 0;
    display: flex;
  }
  &__icon {
    font-size: 28px;
  }
}
.books {
  margin-top: 16px;
  padding: 16px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  @include tab {
    margin-top: 32px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
  &__item {
    display: flex;
    justify-content: center;
  }
}
.blank {
  padding: 0 16px;
  text-align: center;
  color: #808080;
}
