:host {
  display: block;
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  gap: 16px;
}

.book {
  list-style: none;
  text-align: center;
  position: relative;
  &__remove {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(145, 145, 145, 0.5);
  }
}

::ng-deep .mat-menu-panel {
  min-height: initial !important;
  .mat-menu-content {
    height: auto;
    display: flex;
    margin-left: 16px;
  }
}

@media screen and (max-width: 470px) {
  img {
    max-height: 160px;
    max-width: 112px;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  }
}
