@import 'mixins';
@import 'material-custom';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: center / cover no-repeat url('/assets/images/welcome-2.jpg');
  animation: fadeIn 1s ease 0s 1 normal;
  @include tab {
    background: center / cover no-repeat url('/assets/images/welcome-1.jpg');
    animation: fadeIn 1s ease 0s 1 normal;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inner {
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include tab {
    padding-top: 100px;
  }
}

.logo {
  text-align: center;
  &__image {
    width: 70%;
  }
}

.login {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 232px;
  margin-top: calc(calc(100vh - 455px - 60px) / 2);
  padding: 16px;
  border-radius: 16px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 2px transparent;
  background-clip: padding-box;
  @include tab {
    padding: 16px 5%;
    margin-top: calc(calc(100vh - 455px - 180px) / 2);
    margin-left: 30%;
    width: 30%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
  &__title {
    margin: 0 auto;
    color: #808080;
    font-size: 13px;
  }
  &__form {
    margin-bottom: 24px;
  }
  &__or {
    text-align: center;
    color: #808080;
    font-size: 16px;
    margin-bottom: 24px;
  }
  &__item {
    color: #505050;
    text-align: center;
    border-radius: 50px;
    width: 200px;
    margin: 16px auto 24px;
    background-color: rgba(132, 136, 146, 0.5);
    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -3px 5px 0 0;
      background: url('/assets/images/google-icon.svg') no-repeat;
      background-size: contain;
      vertical-align: middle;
    }
    @include pc {
      width: 260px;
    }
  }
  &__new {
    cursor: pointer;
    color: #808080;
    font-size: 13px;
    margin: 24px auto 0;
    &:hover {
      .login__border {
        color: mat-color($primary);
        border-color: mat-color($primary);
      }
    }
  }
  &__border {
    border-bottom: 1px solid #808080;
  }
}
.heading {
  text-align: center;
  padding: 40px 16px 104px;
  margin: 0 auto;
  max-width: 550px;
  @include tab {
    padding: 60px 16px 120px;
  }
  &__title {
    margin-bottom: 16px;
    @include tab {
      font-size: 32px;
    }
  }
  &__break {
    display: block;
  }
  &__text {
    color: #808080;
    font-size: 16px;
    @include tab {
      font-size: 18px;
    }
  }
}
.step {
  text-align: center;
  padding: 0 8px;
  margin-bottom: 40px;
  @include tab {
    margin-bottom: 60px;
  }
  &__heading {
    @include tab {
      margin-bottom: 36px;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
  &__box {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
  }
  &__item {
    padding: 24px 0;
    text-align: center;
    color: #808080;
    @include tab {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
    }
    &:nth-child(even) {
      @include tab {
        flex-direction: row-reverse;
        .step__description {
          margin-left: 8px;
        }
      }
    }
  }
  &__description {
    text-align: center;
    max-width: 300px;
    margin: 0 auto 16px;
    @include tab {
      margin: auto 0;
      text-align: left;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  &__text {
    color: #606060;
    font-size: 16px;
    margin-bottom: 16x;
    @include tab {
      text-shadow: 0 0 40px rgb(255, 255, 255), 0 0 60px rgb(255, 255, 255);
      font-size: 20px;
    }
  }
  &__img {
    width: 90%;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 28px 38px 48px rgba(126, 126, 126, 0.6);
    @include tab {
      width: 50%;
    }
  }
}
.points {
  padding: 0 16px 60px;
  text-align: center;
  border-radius: 0 0 16px 16px;
  &__heading {
    margin-bottom: 24px;
    @include tab {
      margin-bottom: 60px;
    }
  }
  &__box {
    text-align: center;
    display: grid;
    padding: 0 40px;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 300px));
    justify-content: center;
  }
  &__item {
    margin-bottom: 24px;
  }
  &__text {
    color: #606060;
    margin-top: 24px;
  }
  &--shadow {
    @include tab {
      text-shadow: 0 0 40px rgb(255, 255, 255), 0 0 60px rgb(255, 255, 255);
    }
  }
}
.background {
  position: relative;
  @include sp {
    background: no-repeat
      url('/assets/images/nick-fewings-f2Bi-VBs71M-unsplash2.jpg');
    background-size: cover;
    background-position: center;
  }
  @include tab {
    background: no-repeat url('/assets/images/welcome-3.jpg');
    background-size: cover;
    background-position: center;
  }
}
.overlay {
  position: absolute;
  top: -60px;
  right: 0;
  left: 0;
  padding-top: 24px;
  margin: 0 16px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 16px;
  box-shadow: 10px 10px 10px rgba(65, 65, 65, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 2px transparent;
  background-clip: padding-box;
  @include tab {
    padding-top: 60px;
    margin: 0 10%;
  }
}
app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
