@import 'mixins';
@import 'material-custom';
* {
  color: #6c6c6c;
}
.body {
  background-color: rgb(255, 255, 255);
}
h1 {
  font-size: 4.66vw;
  font-weight: 500;
  line-height: 1.6;
  @include tab {
    font-size: 1.95vw;
    line-height: 1.8;
  }
}
h2 {
  font-size: 4vw;
  @include tab {
    font-size: 1.5vw;
  }
}
p {
  font-size: 3.2vw;
  line-height: 2.5;
  @include tab {
    font-size: 1.09vw;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top-hero {
  display: grid;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: center / cover no-repeat url('/assets/images/welcome-5.jpg');
  animation: fadeIn 1s ease 0s 1 normal;
  @include tab {
    background: center / cover no-repeat url('/assets/images/welcome-1.jpg');
    animation: fadeIn 1s ease 0s 1 normal;
  }
  &__inner {
    position: relative;
    @include tab {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
  &__brand-image {
    margin: 10vh auto 0;
    text-align: center;
    align-self: end;
    width: 70%;
    @include tab {
      margin-top: 15vh;
    }
  }
  &__subtitle {
    margin: 4vh auto 0;
    line-height: 2;
    color: rgb(124, 124, 124);
  }
  &__sp-login-button {
    position: absolute;
    margin: 0 auto;
    bottom: 12vh;
    left: 0;
    right: 0;
    color: #909090;
    text-align: center;
    width: 50vw;
    height: 10.66667vw;
    font-size: 3.66667vw;
    line-height: 1;
    border: 1px solid #909090;
    transition-duration: 0.4s;
    @include tab {
      display: none;
    }
  }
}
.login-grid {
  display: grid;
}
.login {
  @include sp {
    display: none;
  }
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 80%;
  height: 70%;
  border-radius: 8px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 2px transparent;
  background-clip: padding-box;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  &__contetns {
    margin: auto;
  }
  &__title {
    margin: 0 auto;
    color: #808080;
    font-size: 13px;
  }
  &__form {
    margin-bottom: 24px;
  }
  &__or {
    text-align: center;
    color: #808080;
    font-size: 16px;
    margin-bottom: 24px;
  }
  &__item {
    text-align: center;
    height: 36px;
    padding: 2px 0;
    width: 60%;
    margin: 16px 0 24px;
    font-size: 16px;
    line-height: 1.42857;
    letter-spacing: 0.1em;
    border: 1px solid #909090;
    transition-duration: 0.4s;
    &:hover {
      background-color: #6c6c6c;
      border-color: #6c6c6c;
      color: #fff;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -3px 5px 0 0;
      background: url('/assets/images/google-icon.svg') no-repeat;
      background-size: contain;
      vertical-align: middle;
    }
  }
  &__divider {
    width: 60%;
    margin: 0 auto 16px;
  }
  &__new {
    cursor: pointer;
    color: #808080;
    font-size: 13px;
    margin: 24px auto 0;
    &:hover {
      .login__border {
        color: mat-color($primary);
        border-color: mat-color($primary);
      }
    }
  }
  &__border {
    border-bottom: 1px solid #808080;
  }
}

.intro {
  margin: 26.625vw auto;
  text-align: center;
  color: #6c6c6c;
  @include tab {
    margin: 15.625vw auto;
  }
  &__heading {
    margin-bottom: 8.5vw;
    @include tab {
      font-size: 2.34vw;
      margin-bottom: 5vw;
    }
  }
}

.top-illustration {
  @include tab {
    margin: 0 auto;
    width: 62.5vw;
  }
  &__image {
    width: 100%;
  }
}

.how {
  margin: 26.625vw 0;
  @include tab {
    margin: 15.625vw 0;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  &__heading {
    margin-bottom: 20.33vw;
    @include tab {
      margin-bottom: 5.12vw;
    }
  }
  &__text-box {
    text-align: center;
    padding: 0 14vw;
    margin-bottom: 26.625vw;
    @include tab {
      text-align: left;
      padding: 0 12.5vw 0 6.25vw;
      margin-bottom: 0;
      order: 2;
    }
  }
  &__sub-title {
    margin-bottom: 5.33vw;
    @include tab {
      margin-bottom: 2vw;
    }
  }
  &__description {
    margin-bottom: 10.33vw;
    @include tab {
      margin-bottom: 5.12vw;
      line-height: 2;
    }
  }
  &__image-box {
    padding: 0 14vw;
    @include tab {
      padding: 0 6.25vw;
      order: 1;
    }
  }
  &__image {
    width: 100%;
  }
}

.service {
  padding: 0 14vw 24.53vw;
  text-align: center;
  margin-bottom: 26.66vw;
  @include tab {
    padding-bottom: 14.37vw;
    margin: 14.37vw auto;
  }
  &__heading {
    margin-bottom: 8.33vw;
    @include tab {
      margin-bottom: 5vw;
    }
  }
  &__description {
    text-align-last: left;
    @include tab {
      text-align: center;
      margin: 0 auto;
      width: 31.25vw;
    }
  }
}

.scene {
  padding: 0 14vw;
  &__heading {
    text-align: center;
    margin-bottom: 3.2vw;
    @include tab {
      margin-bottom: 2vw;
    }
  }
  &__sub-title {
    text-align: center;
  }
  &__contents {
    display: grid;
    @include tab {
      display: block;
    }
  }
  &__content-box {
    display: grid;
    justify-content: center;
    margin-top: 26.66vw;
    @include tab {
      padding-bottom: 5vw;
      display: flex;
      margin: 5vw auto 0;
      width: 56.25vw;
    }
  }
  &__image {
    text-align: center;
    width: 32vw;
    height: 32vw;
    object-fit: cover;
    margin: 0 auto 8.53vw;
    @include tab {
      width: 18.75vw;
      height: 18.75vw;
      margin: auto 5vw auto 0;
    }
  }
  &__text-box {
  }
  &__content-title {
    margin-bottom: 3.2vw;
    text-align: center;
    line-height: 1.33;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    @include tab {
      line-height: 2;
      margin-bottom: 1.25vw;
      letter-spacing: 0.1em;
    }
  }
}

.bottom-login {
  text-align: center;
  margin: 0 auto;
  display: grid;
  &__login-button {
    padding-top: 3px;
    margin: 25.33vw auto;
    color: #909090;
    text-align: center;
    width: 50vw;
    height: 10.66667vw;
    font-size: 3.66667vw;
    line-height: 1;
    border: 1px solid #909090;
    transition-duration: 0.4s;
    @include tab {
      margin: 5vw 0 10vw;
      width: 30vw;
      height: 4.375vw;
      font-size: 1.09375vw;
      line-height: 1.42857;
      letter-spacing: 0.1em;
      &:hover {
        background-color: #6c6c6c;
        border-color: #6c6c6c;
        color: #fff;
      }
    }
  }
}
