ul {
  padding: 0;
  margin: 0 auto;
}

.inner {
  color: rgb(75, 75, 75);
  padding: 8px;
  .results-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
    span {
      font-size: 16px;
    }
  }
  .book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    &-item {
      display: flex;
      padding-top: 8px;
      border-radius: 8px;
      background-color: rgb(245, 245, 245);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
      margin: 8px;
      &__left {
        width: 170px;
        padding: 0 16px;
        p {
          &:first-child {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
          }
          &:last-child {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .font-size__small {
          font-size: 14px;
        }
      }
      &__right {
        img {
          height: 120px;
          width: 90px;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .book-list {
    &-item {
      flex-direction: column;
      width: 100%;
      text-align: center;
      &__left {
        margin: 0 auto;
      }
    }
  }
}
