<div *ngIf="searchText" class="container">
  <div class="inner">
    <div class="results-title">{{ searchText }} <span>の検索結果</span></div>

    <div>
      <ul class="book-list">
        <li
          *ngFor="let book of bookData"
          class="book-list-item"
          (click)="createBook(book)"
        >
          <div class="book-list-item__left">
            <p>{{ book.volumeInfo.title }}</p>
            <p class="font-size__small">{{ book.volumeInfo.authors }}</p>
          </div>
          <figure class="book-list-item__right">
            <img
              [src]="book.volumeInfo.imageLinks.thumbnail"
              [alt]="book.volumeInfo.title"
            />
          </figure>
        </li>
      </ul>
    </div>
  </div>
</div>
