@import 'mixins';

.relese-info {
  padding-top: 64px;
  &__heading {
    margin-bottom: 16px;
  }
  &__contents {
    display: flex;
    flex-direction: column;
  }
}

.results-title {
  text-align: center;
  margin: 32px 0;
  &__label {
    font-size: 16px;
  }
}

.results {
  color: rgb(75, 75, 75);
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  &__item {
    margin: 0 auto;
    width: 320px;
    padding: 8px;
    position: relative;
    background: radial-gradient(#e0f5ff38, #ffffff00);
    background: -webkit-radial-gradient(#e0f5ff38, #ffffff00);
    display: grid;
    grid-template-columns: 90px 1fr 40px;
    @include sp {
      width: 280px;
    }
    @include tab {
      background-color: rgba(135, 153, 168, 0.11);
      border-radius: 8px;
    }
  }
  &__spacer {
    height: 100px;
    width: 80px;
  }
  &__thumb {
    position: absolute;
    top: -8px;
    left: -4px;
    width: 80px;
    overflow: hidden;
    box-shadow: 5px 15px 30px -10px rgba(107, 115, 121, 0.801);
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 2%,
        rgba(255, 255, 255, 0.3) 5%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }
  &__img {
    width: 80px;
    margin-bottom: -4px;
    object-fit: cover;
  }
  &__info {
    height: 90px;
    margin: 0 16px 8px 0;
    overflow: hidden;
    @include tab {
      margin-top: 8px;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  &__authors {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__add-btn {
    margin-top: 32px;
  }
}
.book {
  text-align: center;
  &__thumb {
    padding: 16px;
    margin-bottom: 16px;
  }
  &__img {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  &__title {
    color: #505050;
    margin-bottom: 4px;
  }
  &__author {
    font-size: 14px;
    color: #707070;
  }
}

.blank {
  text-align: center;
  font-size: 18px;
  color: #505050;
  margin-top: 30%;
}
