<div class="container">
  <div class="headTitle">{{ searchText }} <span>の検索結果</span></div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <!-- <thead>
            <tr>
              <th scope="col">Book ID</th>
              <th scope="col">Title</th>
              <th scope="col">Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead> -->
      <tbody>
        <tr *ngFor="let book of bookData" (click)="createBook(book)">
          <td>
            {{ book.volumeInfo.title }}
          </td>
          <td>
            <img
              [src]="book.volumeInfo.imageLinks.thumbnail"
              [alt]="book.volumeInfo.title"
              class="img-responsive"
              style="max-height: 250px; text-align: center;"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <button mat-flat-button color="primary" routerLink="/add-books">
      他の本を探す
    </button>
  </div>
</div>
