@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-lime);
$warn: mat-palette($mat-pink);

$diary-for-reader-theme: mat-light-theme($primary, $accent, $warn);
