$diary-for-reader-primary: mat-palette($mat-light-blue, 200);
$diary-for-reader-accent: mat-palette($mat-amber, A400, A200, A100);
$diary-for-reader-warn: mat-palette($mat-pink);

$diary-for-reader-theme: mat-light-theme(
  $diary-for-reader-primary,
  $diary-for-reader-accent,
  $diary-for-reader-warn
);
