<footer class="footer">
  <div class="footer__contents">
    <a routerLink="/welcome" class="footer__brand">
      <img
        class="footer__brand-title-logo"
        src="assets/images/brand-white-title.svg"
        alt="読書家のための日記帳"
        width="200px"
        height="38px"
      />
    </a>
    <div class="footer__middle">
      <p class="footer__developer">created by Yuki Kouno</p>
      <div class="footer__sns">
        <a
          href="https://twitter.com/yuki_kouno_jp"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="footer__twitter-logo"
            src="assets/images/twitter-logo.svg"
            alt="Twitterリンク"
          />
        </a>
        <a
          href="https://github.com/yuki-kouno"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="footer__github-logo"
            src="assets/images/github-logo.png"
            alt="Githubリンク"
          />
        </a>
      </div>
    </div>
    <ul class="footer__nav">
      <li class="item"><a routerLink="/terms">利用規約</a></li>
      <li class="item">
        <a routerLink="/privacy">プライバシーポリシー</a>
      </li>
      <li>
        <a
          class="footer__contact material-icons-rounded"
          href="https://forms.gle/3HNsep8kmYSARHap9"
          target="_blank"
          rel="noopener noreferrer"
          >お問い合わせ</a
        >
      </li>
      <li>
        <p class="copyright">
          &copy; 2021 読書家のための日記帳
        </p>
      </li>
    </ul>
  </div>
</footer>
