@import 'mixins';

.footer {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: solid 2px transparent;
  background-clip: padding-box;
  @include tab {
    padding: 60px 60px 0;
  }
  &__contents {
    display: flex;
    flex-direction: column;
    color: #808080;
    @include tab {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__brand {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 48px;
  }
  &__brand-logo {
    width: 200px;
    margin: 0 auto 8px auto;
  }
  &__developer {
    color: #909090;
    font-weight: 300;
    margin-bottom: 16px;
  }
  &__twitter-logo {
    vertical-align: middle;
    height: 24px;
    font-size: 18px;
  }
  &__nav {
    font-size: 14px;
    margin-bottom: 16px;
    text-align: center;
    .item {
      margin-bottom: 4px;
    }
  }
  &__contact {
    align-items: center;
    text-align: center;
    font-size: 14px;
  }
  &__contact-icon {
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 2px;
  }
  &__end {
    color: #808080;
    height: 24px;
    font-size: 12px;
    text-align: center;
  }
}
.sp-none {
  @include sp {
    display: none;
  }
}
.copyright {
  margin: 8px;
  text-align: center;
  color: #808080;
  font-size: 12px;
}
