<footer class="footer">
  <div class="footer__contents">
    <div class="footer__brand">
      <img
        class="footer__brand-logo"
        src="assets/images/brand-title.logo.png"
        alt="読書家のための日記帳"
      />
      <p class="footer__developer">created by Yuki Kouno</p>
      <a
        href="https://twitter.com/yuki_kouno_jp"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          class="footer__twitter-logo"
          src="assets/images/twitter-logo.png"
          alt="ツイッターリンク"
      /></a>
    </div>
    <ul class="footer__nav">
      <li class="item"><a routerLink="/terms/termsService">利用規約</a></li>
      <li class="item">
        <a routerLink="/terms/privacypolicy">プライバシーポリシー</a>
      </li>
      <li>
        <a
          class="footer__contact material-icons-rounded"
          href="mailto:diary.for.reader@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          >お問い合わせ<mat-icon class="footer__contact-icon"
            >open_in_new</mat-icon
          ></a
        >
      </li>
    </ul>
  </div>
  <mat-divider class="sp-none"></mat-divider>
  <p class="copyright">
    &copy; 2021 読書家のための日記帳
  </p>
</footer>
