@import 'mixins';

.footer {
  padding: 32px 0;
  width: 100%;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 2px transparent;
  background-clip: padding-box;
  &__contents {
    display: flex;
    flex-direction: column;
    color: #606060;
    @include tab {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__brand {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  &__brand-title-logo {
    margin: 0 auto;
  }
  &__middle {
    text-align: center;
    margin-bottom: 16px;
  }
  &__developer {
    color: #909090;
    font-weight: 300;
    margin-bottom: 16px;
  }
  &__twitter-logo {
    vertical-align: middle;
    color: #606060;
    height: 24px;
    font-size: 18px;
  }
  &__nav {
    font-size: 14px;
    text-align: center;
    @include tab {
      text-align-last: left;
    }
    .item {
      margin-bottom: 4px;
    }
  }
  &__contact {
    align-items: center;
    text-align: center;
    font-size: 14px;
  }
  &__contact-icon {
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 2px;
  }
  &__end {
    color: #606060;
    height: 24px;
    font-size: 12px;
    text-align: center;
  }
}
.sp-none {
  @include sp {
    display: none;
  }
}
.copyright {
  text-align: center;
  color: #606060;
  font-size: 12px;
  margin-top: 16px;
  @include tab {
    margin-top: 32px;
  }
}
