@import 'mixins';

a,
p {
  font-size: 3.2vw;
  line-height: 2.25;
  color: white;
  @include tab {
    font-size: 0.7vw;
    line-height: 2.5;
  }
}

.footer {
  padding: 25.33vw 0;
  width: 100%;
  background-color: #6c6c6c;
  @include tab {
    padding: 10vw 0;
  }
  &__contents {
    display: flex;
    flex-direction: column;
    @include tab {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__brand {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  &__brand-title-logo {
    margin: 0 auto;
  }
  &__middle {
    text-align: center;
    margin-bottom: 16px;
  }
  &__developer {
    font-weight: 300;
    margin-bottom: 16px;
  }
  &__sns {
    display: flex;
    justify-content: space-around;
  }
  &__twitter-logo {
    vertical-align: middle;
    height: 24px;
    width: 29.17px;
    font-size: 18px;
  }
  &__github-logo {
    vertical-align: middle;
    height: 27px;
    width: 27px;
    font-size: 18px;
  }
  &__nav {
    width: 200px;
    text-align: center;
    @include tab {
      font-size: 0.7vw;
      text-align-last: left;
    }
    .item {
      margin-bottom: 4px;
    }
  }
  &__contact {
    align-items: center;
    text-align: center;
  }
}
.sp-none {
  @include sp {
    display: none;
  }
}
.copyright {
  text-align: center;
  margin-top: 16px;
  @include tab {
    margin-top: 32px;
  }
}
