.bottom-sticky-nav {
height: 50px;
position: fixed;
display: block;
background: rgb(245, 245, 245);
bottom: 0;
left: 0;
right: 0;
z-index: 100;
}
.bottom-sticky-nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: space-evenly;
}
.bottom-sticky-nav ul li {
flex: 1;
}
.bottom-sticky-nav ul li a {
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
height: 50px;
color: gray;
}
.bottom-sticky-nav ul li a:hover,
.bottom-sticky-nav ul li a:focus {
text-decoration: none;
}
.bottom-sticky-nav ul li a{
font-size: 12px;
}
.bottom-sticky-nav ul li a span {
font-size: 12px;
line-height: 1.2;
}
// .border-top {
//   border-top: 1px solid rgba(158, 158, 158, 0.452);
// }
