@import 'variables';
@import 'mixins';

mat-tab-group {
  @include tab {
    padding: 0 16%;
  }
}
.contents {
  padding: 0 16px 70px;
}
.top {
  position: relative;
  padding: 16px 0 4px;
  background: radial-gradient(rgba(172, 186, 189, 0.1), #ffffff00);
  @include tab {
    padding: 40px 0 16px;
  }
  &__back-btn {
    opacity: 0.4;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1000;
    @include tab {
      top: 40px;
      left: 40px;
    }
  }
  &__back-icon {
    color: $sub-icon;
    font-size: 24px;
  }
}
.date {
  margin-bottom: 16px;
  text-align: center;
  color: #808080;
  @include tab {
    margin-bottom: 40px;
  }
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  &__body {
    text-align: center;
    margin: 0 auto;
  }
  &__figure {
    position: relative;
    width: 160px;
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 4px;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 2%,
        rgba(255, 255, 255, 0.3) 5%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }
  &__img {
    width: 160px;
    object-fit: cover;
    box-shadow: 10px 20px 50px rgba(128, 128, 128, 0.719);
  }
  &__title {
    font-size: 13px;
    color: #808080;
    margin: 16px 8px 8px;
  }
  &__authors {
    font-size: 14px;
    color: #808080;
    margin: 0 8px;
  }
}

.blank {
  padding: 16px 16px 0 16px;
  text-align: center;
  color: #808080;
}
