<div class="container" *ngIf="book$ | async as book">
  <div class="top">
    <button class="top__back-btn" (click)="back()">
      <mat-icon class="top__back-icon material-icons-round"
        >arrow_back_ios</mat-icon
      >
    </button>
    <div class="date">{{ nowDate | date: 'M.dd E' }}</div>
    <div class="grid">
      <div class="grid__body">
        <figure class="grid__figure">
          <img
            class="grid__img"
            [src]="book.volumeInfo.imageLinks.thumbnail"
            [alt]="book.volumeInfo.title"
          />
        </figure>
      </div>
      <div class="grid__body">
        <p class="grid__title">{{ book.volumeInfo.title }}</p>
        <p class="grid__authors">{{ book.volumeInfo.authors }}</p>
      </div>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="今日">
      <app-review-list
        *ngFor="let review of reviews$ | async"
        [review]="review"
        [book]="book"
      ></app-review-list>
    </mat-tab>
    <mat-tab label="すべて">
      <app-review-list
        class="flex"
        *ngFor="let review of allReviews$ | async"
        [review]="review"
        [book]="book"
        isDate="true"
      >
      </app-review-list>
    </mat-tab>
  </mat-tab-group>
  <app-review-form
    *ngIf="book"
    [book]="book"
    valu=""
    (event)="guardState($event)"
    [checkedGuard]="checkedGuard"
  ></app-review-form>
</div>
