@import 'mixins';

mat-form-field {
  width: 100%;
  color: #505050;
}
.container {
  @include tab {
    margin: 0 16px;
    padding: 0 16%;
  }
}
.review-btns {
  text-align: center;
  &__questions {
    margin: 16px;
    color: white;
    line-height: 1;
    font-size: 14px;
    padding: 10px;
    border-radius: 18px;
  }
  &__free-text {
    margin: 16px;
    color: white;
    line-height: 1;
    font-size: 14px;
    padding: 10px;
    border-radius: 18px;
  }
}

.reviews-btns {
  display: block;
  text-align: right;
  margin-bottom: 16px;
  &__cancel {
    color: rgb(151, 151, 151);
    background-color: rgb(241, 241, 241);
    margin-right: 16px;
  }
  &__save {
    color: white;
  }
}
