<div class="inner">
  <div>
    <form [formGroup]="form">
      <ng-container formArrayName="answers">
        <ng-container *ngFor="let answer of answers.controls; index as i">
          <div [formGroupName]="i">
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-label>
                {{ selectedQuestion[i] }}
              </mat-label>
              <textarea
                matInput
                autofocus
                *ngIf="showInput"
                class="answer"
                formControlName="answer"
                required
                type="text"
                cdkTextareaAutosize
              ></textarea>
            </mat-form-field>
            <div class="reviews-btns">
              <button
                mat-button
                class="reviews-btns__cancel"
                type="button"
                (click)="removeAnswer(i)"
              >
                キャンセル
              </button>
              <button
                mat-flat-button
                class="reviews-btns__save"
                [disabled]="answer.invalid"
                color="primary"
                (click)="createReview(book, i)"
              >
                保存
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </form>

    <div class="review-btns">
      <button
        class="review-btns__questions wrap-gradient"
        mat-flat-button
        color="primary"
        [matMenuTriggerRestoreFocus]="false"
        [matMenuTriggerFor]="questionMenu"
      >
        質問を選択
      </button>
      <button
        class="review-btns__free-text wrap-gradient"
        mat-flat-button
        color="accent"
        (click)="openQustionDialog()"
      >
        自由に書く
      </button>
    </div>
  </div>
  <mat-menu class="question-panel" #questionMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="start">読み始め</button>
    <button mat-menu-item [matMenuTriggerFor]="halfway">途中</button>
    <button mat-menu-item [matMenuTriggerFor]="end">読み終わり</button>
  </mat-menu>
  <mat-menu #start="matMenu" yPosition="above">
    <button
      mat-menu-item
      (click)="addQuestion(question)"
      *ngFor="let question of questionsList.start; index as i"
    >
      <div class="question-item">{{ question }}</div>
    </button>
  </mat-menu>
  <mat-menu #halfway="matMenu">
    <button
      mat-menu-item
      (click)="addQuestion(question)"
      *ngFor="let question of questionsList.halfway; index as i"
    >
      <div class="question-item">{{ question }}</div>
    </button>
  </mat-menu>
  <mat-menu #end="matMenu">
    <button
      mat-menu-item
      (click)="addQuestion(question)"
      *ngFor="let question of questionsList.end; index as i"
    >
      <div class="question-item">{{ question }}</div>
    </button>
  </mat-menu>
</div>
