@import 'mixins';
@import 'material-custom';
@import 'variables';

mat-form-field {
  width: 100%;
  color: #505050;
}
.inner {
  @include tab {
    margin: 0 16px;
    padding: 0 16%;
  }
}
.review-btns {
  text-align: center;
  &__tour {
    width: 200px;
    margin: 16px auto;
    position: absolute;
    top: 32px;
    left: 0;
    font-size: 16px;
    line-height: 1.3;
    color: #505050;
    border: 3px solid $tour-border;
    padding: 16px;
    border-radius: 20px;
    background-color: rgb(237, 245, 245, 0.9);
    z-index: 1000;
    &::before {
      content: '^';
      color: $tour-border;
      font-size: 35px;
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      top: -24px;
      left: 35px;
      z-index: 50;
    }
    &::after {
      content: '^';
      color: rgb(237, 245, 245);
      font-size: 40px;
      font-weight: bolder;
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      top: -15px;
      left: 34px;
      z-index: 50;
    }
  }
  &__questions {
    margin: 16px;
    color: white;
    line-height: 1;
    font-size: 14px;
    padding: 10px;
    border-radius: 18px;
  }
  &__free-text {
    margin: 16px;
    color: white;
    line-height: 1;
    font-size: 14px;
    padding: 10px;
    border-radius: 18px;
  }
}

.reviews-btns {
  display: block;
  text-align: right;
  margin-bottom: 16px;
  &__cancel {
    color: rgb(151, 151, 151);
    background-color: rgb(241, 241, 241);
    margin-right: 16px;
  }
  &__save {
    color: white;
  }
}

.question-item {
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}
