<ul class="nav">
  <li>
    <a routerLink="/"
      ><mat-icon class="icon material-icons-outlined"
        >import_contacts</mat-icon
      ></a
    >
  </li>
  <li>
    <a routerLink="/add-books"><mat-icon class="icon">search</mat-icon></a>
  </li>
  <li>
    <a routerLink="/books-ranking"
      ><mat-icon class="icon">format_list_numbered</mat-icon></a
    >
  </li>
  <li>
    <a routerLink="/calendar"
      ><mat-icon class="icon material-icons-outlined">date_range</mat-icon></a
    >
  </li>
  <li>
    <a (click)="openBottomSheet()"
      ><mat-icon class="icon">more_horiz</mat-icon></a
    >
  </li>
</ul>
