<ul *ngIf="user$ | async as user" class="nav">
  <li class="item">
    <a class="item__btn" routerLink="/"
      ><div
        *ngIf="
          (isBook$ | async)?.length &&
          !loadingService.loading &&
          (isTour$ | async)
        "
        [@rubberBand]="animState"
        (@rubberBand.done)="animDone()"
        class="item__tour"
      >
        ライブラリーに登録されました
      </div>
      <mat-icon class="item__icon material-icons-outlined"
        >import_contacts</mat-icon
      >
      <p class="item__title">ライブラリ</p>
    </a>
  </li>
  <li *ngIf="isReview$ | async as review" class="item">
    <a (click)="linkCalender(user.thirdTour, review.length)"
      ><div
        *ngIf="user.thirdTour && review?.length"
        [@rubberBand]="animState"
        (@rubberBand.done)="animDone()"
        class="item__tour"
      >
        カレンダーページで<br />過去のレビューが確認できます
      </div>
      <mat-icon class="item__icon material-icons-outlined">date_range</mat-icon>
      <p class="item__title">カレンダー</p>
    </a>
  </li>
  <li class="item">
    <a class="item__btn" routerLink="/add-books"
      ><mat-icon class="item__icon material-icons-rounded">add</mat-icon>
      <p class="item__title">本を追加</p></a
    >
  </li>
  <li class="item">
    <a class="item__btn" routerLink="/books-ranking"
      ><mat-icon class="item__icon">format_list_numbered</mat-icon>
      <p class="item__title">ランキング</p></a
    >
  </li>
  <li class="item">
    <a class="item__btn" (click)="openBottomSheet()"
      ><mat-icon class="item__icon">more_horiz</mat-icon>
      <p class="item__title">その他</p></a
    >
  </li>
</ul>
