@import 'variables';
@import 'material-custom';
.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.icon {
  color: $sub-icon;
  opacity: 0.5;
  &:hover {
    color: mat-color($primary);
  }
}
