@import 'variables';
@import 'material-custom';
@import 'mixins';
.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 2px transparent;
  background-clip: padding-box;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include tab {
    display: none;
  }
}
.item {
  position: relative;
  width: 20%;
  text-align: center;
  &__title {
    font-size: 10px;
    font-weight: bold;
    color: #909090;
  }
  &__icon {
    color: #909090;
  }
  &:hover {
    .item__title {
      color: mat-color($primary);
    }
    .item__icon {
      color: mat-color($primary);
    }
  }
  &__tour {
    position: absolute;
    width: 200px;
    color: #505050;
    border-radius: 30px;
    border: 3px solid $tour-border;
    padding: 16px;
    bottom: 58px;
    left: -7px;
    background-color: rgba(237, 245, 245, 0.98);
    &::before {
      content: 'v';
      color: $tour-border;
      font-size: 25px;
      font-weight: bold;
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      bottom: 13px;
      left: 28px;
      z-index: 50;
    }
    &::after {
      content: 'v';
      color: rgb(237, 245, 245);
      font-size: 41px;
      font-weight: bolder;
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      bottom: 43px;
      left: 23px;
      z-index: 50;
    }
  }
}
