@import 'variables';
@import 'material-custom';
@import 'mixins';
.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 2px transparent;
  background-clip: padding-box;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include tab {
    display: none;
  }
}
.item {
  width: 20%;
  text-align: center;
  &__title {
    font-size: 10px;
    font-weight: bold;
    color: #909090;
  }
  &__icon {
    color: #909090;
  }
  &:hover {
    .item__title {
      color: mat-color($primary);
    }
    .item__icon {
      color: mat-color($primary);
    }
  }
}
