<ng-container *ngIf="book$ | async as book">
  <div class="container">
    <div class="revieweds" *ngFor="let review of reviews$ | async">
      <div class="revieweds__body">
        <p class="revieweds__question">{{ review.question }}</p>
        <p class="revieweds__text">{{ review.answer }}</p>
      </div>
      <div>
        <button
          class="revieweds__edit-mat-button"
          mat-icon-button
          [mat-menu-trigger-for]="reviewEditor"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #reviewEditor="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>編集</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>削除</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div>
      <form [formGroup]="form">
        <ng-container formArrayName="answers">
          <ng-container *ngFor="let answer of answers.controls; index as i">
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label class="reviews--item__question">
                  {{ selectedQuestion[i] }}
                </mat-label>
                <textarea
                  class="reviews--item__review"
                  matInput
                  formControlName="answer"
                  type="text"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                ></textarea>
              </mat-form-field>
              <div class="reviews--item__editact-actions">
                <button mat-button type="button" (click)="removeAnswer(i)">
                  キャンセル
                </button>
                <button
                  class="font-color"
                  mat-flat-button
                  [disabled]=""
                  color="primary"
                  (click)="createReview(book, i)"
                >
                  保存
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </form>

      <div class="review-btns">
        <button
          class="questions__btn"
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="questionMenu"
        >
          質問を選択
        </button>
        <button
          class="free-text__btn"
          mat-flat-button
          color="accent"
          (click)="addQuestion(null)"
        >
          自由に書く
        </button>
      </div>
    </div>
    <mat-menu class="question-panel" #questionMenu="matMenu">
      <button
        mat-menu-item
        (click)="addQuestion(question)"
        *ngFor="let question of questionsList; index as i"
      >
        {{ i + 1 + '&emsp;' + question }}
      </button>
    </mat-menu>
  </div>
</ng-container>
