* {
  color: rgb(61, 61, 61);
}
p {
  margin: 0;
}

mat-form-field {
  width: 100%;
}

.revieweds {
  display: grid;
  grid-template-columns: 1fr 40px;
  &__body {
    margin-bottom: 16px;
  }
  &__question {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 16px;
    margin-left: 8px;
  }
}

.reviews {
  &__answer {
    font-size: 16px;
    line-height: 1.4;
  }
  &__editact-actions {
    text-align: right;
  }
}

.reviews-btns {
  text-align: right;
  margin-bottom: 16px;
  &__cancel {
    color: rgb(151, 151, 151);
    background-color: rgb(241, 241, 241);
    margin-right: 16px;
  }
  &__save {
    color: white;
  }
}

.review-btns {
  text-align: center;
  &__questions {
    margin: 6px;
    color: white;
    line-height: 1;
    font-size: 14px;
    padding: 11px;
    border-radius: 18px;
  }
  &__free-text {
    margin: 6px;
    color: white;
    line-height: 1;
    font-size: 14px;
    padding: 11px;
    border-radius: 18px;
  }
}
