<div class="swiper">
  <h1 class="swiper__heading">文学・評論</h1>
  <swiper [config]="config">
    <ng-template *ngFor="let book of releaseDatas | async" swiperSlide let-data>
      <app-book [book]="book"></app-book>
    </ng-template>
  </swiper>
  <div class="navigation navigation__prev">
    <div class="navigation__literature navigation__literature--prev">
      <mat-icon>navigate_before</mat-icon>
    </div>
  </div>
  <div class="navigation navigation__next">
    <div class="navigation__literature navigation__literature--next">
      <mat-icon>navigate_next</mat-icon>
    </div>
  </div>
</div>
