<div class="container">
  <div class="inner">
    <h1>本を検索</h1>

    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="searchText"
        class="form-control"
        placeholder="本のタイトル、著者名"
      />
    </div>

    <div class="form-group">
      <button
        class="btn btn-success btn-lg btn-block"
        (click)="searchBook()"
        mat-flat-button
        color="primary"
      >
        検索
      </button>
    </div>
  </div>
</div>

<app-list-books></app-list-books>
