.container {
  .inner {
    display: flex;
    justify-content: center;
    padding: 24px 0;

    input {
      margin-right: 16px;
      padding: 10px;
      border: 1px solid rgba(190, 190, 190, 0.3);
      border-radius: 5px;
      &::placeholder {
        color: rgb(190, 190, 190);
      }
    }
    button {
      color: white;
    }
  }
}
