<app-header [title]="title"></app-header>

<div class="container">
  <form class="form">
    <h1 class="heading">
      <span class="heading__sp-block">タイトル、著者名、キーワードで</span
      >検索してください
    </h1>
    <input
      class="form__input"
      type="text"
      [formControl]="searchForm"
      placeholder="本のタイトル、著者名"
      appAutofocus
    />
    <ng-container *ngIf="userService.user$ | async as user">
      <button
        class="form__btn wrap-gradient"
        (click)="searchBook(user.firstTour)"
        mat-flat-button
        color="primary"
      >
        <mat-icon>search</mat-icon>
      </button>
      <div
        *ngIf="
          !(isBook$ | async)?.length &&
          !(searchText | async) &&
          !loadingService.loading &&
          user.firstTour
        "
        [@rubberBand]="animState"
        (@rubberBand.done)="animDone()"
        class="form__tour"
      >
        はじめに<br />アウトプットする<br />本を検索してください
      </div>
    </ng-container>
  </form>
  <app-list-books></app-list-books>
</div>
