<div class="container">
  <form [formGroup]="emailForm">
    <mat-form-field class="input" appearance="outline">
      <mat-label>メールアドレスを記入してください</mat-label>
      <input
        formControlName="email"
        matInput
        type="email"
        required
        autocomplete="current-email"
      />
      <mat-error *ngIf="emailControl.hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>

    <button
      class="reset-btn"
      [disabled]="emailForm.invalid"
      mat-dialog-close
      (click)="resetPassword()"
      mat-raised-button
      color="primary"
    >
      O K
    </button>
  </form>
</div>
