<div class="container">
  <form [formGroup]="signUpForm">
    <mat-form-field appearance="outline">
      <mat-label>メールアドレスを記入してください</mat-label>
      <input
        formControlName="email"
        matInput
        type="email"
        required
        autocomplete="email"
      />
      <mat-error *ngIf="emailControl.hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>パスワードを記入してください</mat-label>
      <input
        formControlName="password"
        matInput
        type="password"
        required
        autocomplete="current-password"
      />
      <mat-hint
        >*10文字以上<br />*英数字、大文字と小文字のアルファベットを含ませる<br />*かな、記号は使用できません</mat-hint
      >
      <mat-error *ngIf="passwordControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="passwordControl.hasError('password')">
        パスワードは大文字と小文字のアルファベットと英数字の10文字以上で登録してください
      </mat-error>
    </mat-form-field>

    <button
      class="signup-btn wrap-gradient"
      [disabled]="signUpForm.invalid"
      mat-dialog-close
      (click)="signUp()"
      mat-raised-button
      color="primary"
    >
      O K
    </button>
  </form>
</div>
