.container {
  text-align: center;
  padding: 50px 10px;
}
mat-form-field {
  width: 100%;
}
.signup-btn {
  margin-top: 24px;
  color: white;
}
.password-icon {
  color: #808080;
  cursor: pointer;
}
