@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@import '~@angular/material/theming';

@import 'mixins';
@import 'material-custom';
@include angular-material-theme($diary-for-reader-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
}
figure {
  outline: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
input {
  outline: none;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  color: #00000090;
  @include tab {
    font-size: 32px;
  }
}
h2 {
  font-size: 20px;
  color: #30303080;
  @include tab {
    font-size: 24px;
  }
}
.container {
  margin: 0 auto;
}
.question-panel {
  height: 160px;

  @include tab {
    max-width: none !important;
  }
}
.login__item {
  border-radius: 50px !important;
}
.mat-dialog-container {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 10px !important;
  box-shadow: 10px 10px 10px rgba(48, 48, 56, 0.02);
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 2px transparent;
  background-clip: padding-box;
}
.wrap-gradient {
  background: linear-gradient(135deg, #ffffff80, #ffffff00);
}
.mat-fab:not([class*='mat-elevation-z']) {
  box-shadow: 3px 6px 10px -1px rgba(126, 126, 126, 0.5),
    inset 3px 3px 10px rgba(255, 255, 255, 0.521),
    inset -3px -3px 10px rgba(126, 126, 126, 0.2);
}
.mat-mini-fab:not([class*='mat-elevation-z']) {
  box-shadow: 3px 6px 10px -1px rgba(0, 132, 255, 0.5);
}
.mat-bottom-sheet-container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 2px transparent;
  background-clip: padding-box;
}
.custom-bottom-nav {
  height: 80vh;
  border-radius: 32px 32px 0 0 !important;
}
.custom-side-nav {
  min-width: initial !important;
  max-width: initial !important;
  min-height: initial !important;
  max-height: initial !important;
  width: 100vw;
  height: 100vh !important;
  border-radius: 0;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.mat-menu-panel {
  padding: 0;
  margin: 8px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 2px transparent;
  background-clip: padding-box;
}
.mat-menu-item {
  color: #303030;
  overflow-x: scroll !important;
  text-overflow: initial !important;
}
.mat-tab-body-wrapper {
  margin-bottom: 16px;
}
.fc-h-event .fc-event-title {
  font-size: 12px;
  @include tab {
    text-overflow: ellipsis;
  }
}
.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin: 1px 0 0 !important;
}
.fc-icon {
  color: #808080;
}
.fc-daygrid-day-number {
  color: #505050;
}
.fc .fc-col-header-cell-cushion {
  color: #808080;
}
.fc .fc-button-primary {
  color: #505050 !important;
  border: none !important;
  background-color: #ffffff00 !important;
}
.fc-theme-standard .fc-scrollgrid th {
  background-color: rgb(237, 245, 245) !important;
  padding-bottom: 8px;
}
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard .fc-scrollgrid td,
.fc-theme-standard .fc-scrollgrid th,
.fc-theme-standard .fc-scrollgrid tr {
  border: 8px #ffffff00 !important;
}
.fc-daygrid-day-frame {
  padding: 4px;
  border-radius: 16px;
  border: solid 2px rgb(237, 245, 245);
  background: rgba(255, 255, 255, 0.507);
}
.fc-day-today {
  border-radius: 16px !important;
}
.mat-elevation-z4 {
  box-shadow: none;
}
.mat-tab-header-pagination {
  min-width: 44px !important;
}
.mat-tab-header-pagination,
.mat-tab-label {
  border-radius: 24px;
}
.mat-tab-header-pagination-chevron {
  border-color: #808080;
}
.tooltip {
  background-color: rgb(240, 240, 240);
  color: mat-color($primary) !important;
  font-weight: bold;
}
.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  display: none;
}
